:host {
  padding: 15px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;

  small {
    font-weight: bold;
  }
}

.card {
  width: 100%;
  max-height: 500px;
  overflow: scroll;
}

.bottom {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  p {
    margin-top: 20px;
  }
  .timer {
    font-weight: bold;
  }
}
